@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik-Medium';
    src: url('/fonts/Aeonik-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}